@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
    background: #f6f4ee;
    color: #09121c;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1 {
    font-size: 2em;
    color: #DF0C2B;
}
div.container {
    max-width: 400px;
    margin: 20px auto;
}
h3.hint {
    font-size: 1.2em;
    margin: 20px auto 0;
    text-align: center;
}
.hint-container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    font-style: italic;
}

input {
    background: #fff;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 20px;
    padding: 16px;
    width: 100%;
}

a.button,
button {
    border-radius: 30px;
    padding: 12px 30px;
    margin: 10px;
    width: 100%;
    background: #DF0C2B;
    color: #fff;
    border: none;
    font-size: 1.2em;
    text-decoration: none;
}
button.simple {
    background: none;
    color: #999;
    text-decoration: underline;
}

a {
    color: #DF0C2B;
}

label {
    font-size: .9em;
    color: #999;
}

.winner {
    font-weight: bold;
    font-size: 1.2em;
}

td {
    text-align: left;
}

.flex {
    display: flex;
}
.flex > div {
    flex: 1;
}
.center {
    text-align: center;
}